<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="m-8">
        <h1 class="text-3xl">Developer listing</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Technology</th>
                </tr>
            </thead>
            <tbody>
                <% if (SoftwareDevelopers.length> 0) { %>
                    <% SoftwareDevelopers.forEach(developer=> { %>
                        <tr>
                            <td>
                                <%= developer.name %>
                            </td>
                            <td>
                                <%= developer.company %>
                            </td>
                            <td>
                                <%= developer.technology %>
                            </td>
                        </tr>
                        <% }); %>
                            <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <%=SoftwareDevelopers.length%> Developers
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>